{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <main class="form-signin w-100 m-auto">

        <h1 class="h4 mb-3 font-weight-normal">{{ "Sign in" | trans }}</h1>

        <div class="form-floating">            
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus placeholder="">
            <label for="inputUsername">{{ 'Username or Email' | trans }}</label> 
        </div>

        <div class="form-floating  toggle-password-container"> 
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="" 
            {{ stimulus_controller('symfony/ux-toggle-password/toggle-password', { 
                buttonClasses: ['toggle-password-button','toggle-password-button-login'],
                visibleLabel: "Show" | trans ,
                hiddenLabel: "Hide" | trans 
              }) }} >
            <label for="inputPassword">{{ 'Password' | trans }}</label>
        </div>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <span><a href="{{ path('app_forgot_password_request') }}" >
           {{'ForgottenPassword' | trans }}
          </a></span>

        <div class="checkbox pt-2 mb-3">
            <label>
                <input type="checkbox" name="_remember_me">{{ 'Remember me' | trans }}
            </label>
        </div>

        <button class="btn button-corail" type="submit">
            {{ 'Validate' | trans }}
        </button>
    </main> 
</form>



{% endblock %}
