<h1>{{'Hi' | trans }}</h1>

<p>
    {{'confirmEmaiLink' | trans }}: <br><br>
    <a href="{{ signedUrl|raw }}">{{'Confirm my Email' | trans }}</a>.
    {{'expireLink' | trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {{'Regards' | trans }}
</p>
