{% extends 'base.html.twig' %}

{% block title %}Modifier votre profil{% endblock %}

{% block body %}

<main class="form-medium w-100 m-auto">

<div class="pb-2">

    {% if user.thumbnail %} <img class="rounded-circle me-1" width="40" height="40"  src="{{ vich_uploader_asset(user,'thumbnailFile')}}" alt="">
    {% else %} <img src="{{ app.request.basePath }}/ressources/images/defaultProfil.png" width="40" height="40" > 
    {% endif %}
    
</div>

{% if user.email %}
<div class="pb-2"><a href="{{ path('app_initialize_password', { email:user.email} ) }}" >
    {{'Send Password initialization Email' | trans }}
</a></div>
{% endif %}

{{ form(form) }}

</main>

{% endblock %}  
