{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}
{% block body %}

<div id="flash"></div>

<div class="container table-container-medium">

    {{ knp_pagination_filter(users, {'u.username': 'Username','u.email': 'Email' }) }}

    <table class="table table-hover table-border">
        <thead class="table-head">
            <tr>
                <th class="table-th" >{{ knp_pagination_sortable(users,'Id','u.id')}}</th>
                <th class="table-th" >{{ knp_pagination_sortable(users,'Username','u.username')}}</th>
                <th class="table-th" >Email</th>
                <th class="table-th" >Profil</th>
                <th class="table-th" >Actions</th>
            </tr>
        </thead>
        <tbody>

                {% for user in users %}
                    <tr id ="row_user_{{ user.id }}">
                        <td>{{ user.id }} </td>
                        <td>
                                {% if user.thumbnail %} <img class="rounded-circle me-1" width="32" height="32"  src="{{ vich_uploader_asset(user,'thumbnailFile')}}" alt="">
                                {% else %} <img src="/Fondation/ressources/images/defaultProfil.png" width="32" height="32" > 
                                {% endif %}
                            {{ user.username}}</td>
                        <td>{{ user.email}}</td>
                        <td>{{ user.profile.name | default('')}}</td>
                        <td>
                            
                        {% if level=='EDIT' %}
                        <div class="d-flex gap-1">
                            <a class="btn btn-primary btn-sm btn-action" href="{{ path('app_main_edit',{slug:slug,sfid:sfid,id:user.id }) }}">{{ ux_icon('bi:pencil-square', {height: '22px', width: '22px'}) }}</a>       
                           <form action="{{ path('app_main_delete',{slug:slug,sfid:sfid,id:user.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm btn-action">{{ ux_icon('bi:trash', {height: '22px', width: '22px'}) }}</button>
                            </form>   
                        </div>
                        {% endif %}

                        </td>
                    </tr>
                {% endfor %}
        

        </tbody>

    </table>

    <!-- VERSION KnpPaginatorBundle -->
    {{ knp_pagination_render(users)}}
    {{ "Affichage de l'élément" | trans }} {{ users.getPaginationData.firstItemNumber }} {{ "à" | trans }}  {{ users.getPaginationData.lastItemNumber }}  {{ "sur" | trans }} {{ users.getTotalItemCount }} {{ "éléments" | trans }} 



</div>



{% endblock %}
