{% extends 'base.html.twig' %}

{% block title %}Gestion des profils{% endblock %}
{% block body %}

<div id="flash"></div>


<div class="container table-container-medium">

    {% if level=='EDIT' %}
    <p>
        <a class="btn button-corail" href="{{ path('app_main_create',{slug:slug,sfid:sfid }) }}">Créer un profil</a>      
    </p>    
    {% endif %}

    {{ knp_pagination_filter(profiles, {'p.name': 'Name' }) }}

    <table class="table table-hover table-border">
        <thead class="table-head">
            <tr>
                <th class="table-th" >{{ knp_pagination_sortable(profiles,'Id','p.id')}}</th>
                <th class="table-th" >{{ knp_pagination_sortable(profiles,'Name','p.name')}}</th>
                <th class="table-th" >Actions</th>
            </tr>
        </thead>
        <tbody>

                {% for profile in profiles %}
                    <tr id ="row_{{ profile.id }}">
                        <td>{{ profile.id }} </td>
                        <td>{{ profile.name}}</td>
                        <td>

                        {% if level=='EDIT' %}
                        <div class="d-flex gap-1">
                            <a class="btn btn-primary btn-sm btn-action" href="{{ path('app_main_edit',{slug:slug,sfid:sfid,id:profile.id }) }}">{{ ux_icon('bi:pencil-square', {height: '22px', width: '22px'}) }}</a>       
                            <form action="{{ path('app_main_delete',{slug:slug,sfid:sfid,id:profile.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm btn-action">{{ ux_icon('bi:trash', {height: '22px', width: '22px'}) }}</button>
                            </form>   
                        </div>
                        {% endif %}
    
                        </td>
                    </tr>
                {% endfor %}
        

        </tbody>

    </table>

    <!-- VERSION KnpPaginatorBundle -->
    {{ knp_pagination_render(profiles)}}
    {{ "Affichage de l'élément" | trans }} {{ profiles.getPaginationData.firstItemNumber }} {{ "à" | trans }}  {{ profiles.getPaginationData.lastItemNumber }}  {{ "sur" | trans }} {{ profiles.getTotalItemCount }} {{ "éléments" | trans }} 



</div>



{% endblock %}
