<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <script src="{{asset('bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('sidebars.js')}}"></script>
    
    <body class="{{ app.user ? 'body-connected' : '' }} ">

      {% if is_granted('ROLE_USER') %}
      {% endif %}
                
      <nav class="navbar navbar-expand-md  fixed-top  site-header">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li><a class="nav-link px-2 {{ app.current_route == 'home' ? 'menu-actif' : 'menu-inactif' }}" href="{{ path('home') }}">{{ "Home" | trans }}</a></li>
                <li><a class="nav-link px-2 {{ app.current_route == 'Faq' ? 'menu-actif' : 'menu-inactif' }}" href="{{ path('home') }}">Faq</a></li>
                <li><a class="nav-link px-2 {{ app.current_route == 'A propos' ? 'menu-actif' : 'menu-inactif' }}" href="{{ path('home') }}">A propos</a></li>
            </ul>
            
            {% if not app.user %}
            <div class="text-end">
              <a href="{{ path('login') }}"><button type="button" class="btn button-corail ">{{ "Login" | trans }}</button></a>
              <a href="{{ path('register') }}"><button type="button" class="btn button-corail ">{{ "Register" | trans }}</button></a>
            </div>
            {% else %}
            <a href="{{ path('profil') }}" class="href-notextdecoration">
              <span class="badge align-items-center p-0 pe-3 text-light-emphasis bg-secondary-subtle border border-dark-subtle rounded-pill">
                {% if app.user.thumbnail %} <img class="rounded-circle me-1" width="40" height="40"  src="{{ vich_uploader_asset(app.user,'thumbnailFile')}}" alt="">
                {% else %} <img src="/Fondation/ressources/images/defaultProfil.png" width="40" height="40" > 
                {% endif %}
                {{ app.user.userIdentifier }}
              </span>
            </a>
            <span class="mx-2"></span>
            <a href="{{ path('logout') }}"><button type="button" class="btn button-corail ">{{ "Logout" | trans }}</button></a>
            {% endif %}

          </div>
        </div>
    </nav>

    {% if app.user %}

      {% set AppFunctionSubFunctions=app.session.get('AppFunctionSubFunction') %}

      <div class="flex-shrink-0 h-100 p-3 left-menu fixed-top">
        <ul class="list-unstyled ps-0">

          {% set precFunctionId = null %}

          {% for AppFunctionSubFunction in AppFunctionSubFunctions  %}

            {%if AppFunctionSubFunction.functionId != null %}
            
                {% if precFunctionId != AppFunctionSubFunction.functionId %}

                  {% if precFunctionId != null %}
                      </ul>
                    </div>
                  {% endif %}

                    <li class="mb-1">
                      {{ ux_icon('bi:' ~ AppFunctionSubFunction.iconName , {height: '20px', width: '20px'}) }}
                      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#{{ AppFunctionSubFunction.functionId }}-collapse" aria-expanded="false">
                        {{ AppFunctionSubFunction.functionname }} 
                      </button>
                    </li>
                    <div class="collapse" id="{{ AppFunctionSubFunction.functionId }}-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                {% endif %}

                    <li><a href="{{ path('app_main_index', {slug:AppFunctionSubFunction.subfunctionSlug,sfid:AppFunctionSubFunction.subfunctionId}) }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ AppFunctionSubFunction.subfunctionname }} </a></li>

                {% set precFunctionId = AppFunctionSubFunction.functionId %}
                
            {% endif %}
              
          {% endfor %}

          {% if AppFunctionSubFunctions |length > 0 %}
            </ul>
          </div>
          {% endif %}


        </ul>
      </div>
      
     
    {% endif %}

        <main>
            {% include 'partiels/flash.html.twig' %}
            {% block body %}{% endblock %}
        </main>

        <footer class="footer mt-auto py-2 bg-body-tertiary fixed-bottom site-footer ">
          <div class="container">
            <logo class="pull-right">
              <a href="{{ path('home') }}" >
                <img src="/Fondation/ressources/images/LogoWisedev.png" alt="Logo" height="40">
              </a>
            </logo>
          </div>
        </footer>

    </body>
</html>
