{% extends 'base.html.twig' %}

{% form_theme form 'fonction_form_template.html.twig' %}

{% block title %}Modifier la fonction{% endblock %}

{% block body %}

<form method="post">
<main class="form-large w-100 m-auto">

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}<br/>
    <div class="row">
        {% if form.vars.value.icon  %}
        <div class="col-1" id="icon-preview" ><div class="pt-1">{{ ux_icon('bi:' ~ form.vars.value.icon , {height: '24px', width: '24px'}) }}</div></div>
        {% else %}
        <div class="col-1" id="icon-preview" ></div>
        {% endif %}
        <div class="col-11">{{ form_row(form.icon) }}</div>
    </div>

    <br/>
    <div class="subform-large">
        <h6>Les sous fonctions :</h6>
        
        {#<br/>
        <h6>Les sous fonctions :</h6>
        <div id="appfunction_appsubfunctions" data-controller="form-collection" data-form-collection-add-label-value="Ajouter ingrédient" data-form-collection-delete-label-value="Supprimer ingrédient"  data-prototype="{{ form_widget(form.appsubfunctions.vars.prototype)|e('html_attr') }}">
            <div class="row">
                <div class="col-4">Name</div>
                <div class="col-8">Description</div>
            </div>
            {% set numDiv=0 %}
            {% for appsubfunction in form.appsubfunctions %}
                    
                    <div id="appfunction_appsubfunctions_{{numDiv}}" class="row">
                        <div class="col-4">{{ form_row(appsubfunction.name) }}</div>
                        <div class="col-8">{{ form_row(appsubfunction.description) }}</div>
                    </div>
                    {% set numDiv=numDiv+1 %}
            {% endfor %}
        </div>
        #}

        {{ form_end(form) }}

    </div>

    <br/>
    <button class="btn button-corail" type="submit">
        Enregistrer
    </button>


</main>
</form>
<script>
   
    var iconSelect = document.getElementById('{{ form.icon.vars.id }}');
    var iconPreview = document.getElementById('icon-preview'); 
    iconSelect.addEventListener('change', function() {
        var selectedIcon = iconSelect.value;
        if (selectedIcon) {
            var iconHtml = '<i class="bi bi-' + selectedIcon + '" style="font-size:24px;"></i>';
            iconPreview.innerHTML = iconHtml;
        }
    });
</script>


{% endblock %}
